main {
    background-color: var(--color-background);
    padding: 0px 20px 0px 20px;
}

p{
    text-align: justify;
    font-size: 20px;
}

.about{
    margin-bottom: 40px;
    color: var(--color-text-dark);
}

@media (min-width: 820px){
    p{  
        text-align: justify;
        font-size: 25px;        
    }
}